@use '../abstracts/' as abs;

.contact {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        @include abs.for-desktop-up {
            flex-direction: row;
            align-items: stretch;
        }
    }

    &__item {
        flex: 2;
        width: 100%;

        &--faq {
            background-color: abs.$clr-light-black;
            border-radius: 1em;

            @include abs.for-tablet-up {
                max-width: abs.toRem(500);
            }

            @include abs.for-desktop-up {
                max-width: unset;
                flex: 3;
            }
        }

        &--ask {
            max-width: abs.toRem(500);
        }
    }
}