@use '../abstracts/' as abs;

%btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .8em 1.2em;
    border-radius: .5em;
    text-decoration: none;
    color: inherit;
    background-color: abs.$clr-primary;
    text-transform: capitalize;
    font-family: abs.$ff-bold;
    font-size: 1rem;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    @extend %btn;

    &--btb {
        position: relative;
        overflow: hidden;
        @include abs.transition(background-color);

        &::before,
        &::after {
            content: '';
            display: block;
            border-radius: inherit;
            @include abs.absolute-center;
        }

        &::before {
            width: 150%;
            aspect-ratio: 1;
            background: conic-gradient(transparent, transparent, transparent,  abs.$clr-primary);
            transform-origin: center center;
            z-index: -2;
        }

        &::after {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background-color: abs.$body-bg;
            z-index: -1;
            // opacity: 0;
        }

        &:hover {
            background-color: transparent;

            &::before {
                animation: border-spin 4s linear infinite;
            }
        }
    }

    &--white {
        background-color: #fff;
        color: abs.$clr-light-black;
        @include abs.transition(opacity);

        &:hover {
            opacity: .8;
        }
    }
}

@keyframes border-spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}