@use '../abstracts/' as abs;

.section {
    padding-block: abs.$padding-sm;

    @include abs.for-desktop-up {
        padding-block: abs.$padding-mid;
    }
}

.wrapper {
    width: 95%;
    max-width: abs.$max-width;
    margin-inline: auto;

    &--s {
        max-width: abs.$max-width-s;
    }
}

.phone-only {
    @include abs.for-tablet-up {
        display: none !important;
    }
}

.card {
    padding: 2em;
    background-color: abs.$clr-light-black;
    border-radius: 1em;
}

.flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.gap-1 {
    gap: 1em;
}

.gap-2 {
    gap: 2em;
}

.flex-ww {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-half {
    display: flex;
    flex-direction: column;

    @include abs.for-tablet-up {
        flex-direction: row;
        align-items: center;
    }

    & > * {
        flex: 1;
    }
}


// Text

.flow > *:where(:not(:first-child)) {
    margin-block-start: 1em;
}

.title {
    font-size: 2rem;
    font-size: clamp(2rem, 1.83rem + 1.06vw, 2.5rem);
    color: abs.$clr-primary;
    line-height: 1.3;
}

.lead {
    font-size: 1.0625rem;
    font-size: clamp(1.0625rem, 0.96rem + 0.45vw, 1.25rem);
}

.caption {
    &::before {
        content: attr(data-caption);
        display: block;
        font-weight: 400;
        font-size: .7em;
        font-family: abs.$ff-regular;
        text-transform: capitalize;
        color: abs.$clr-primary;
        margin-block-end: 1em;
    }
}

.section {
    &__title {
        font-size: abs.toRem(37);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: abs.$padding-sm;
        letter-spacing: abs.toRem(10);

        @include abs.for-desktop-up {
            margin-bottom: abs.$padding-mid;
        }
    }
}

%quote {
    font-family: 'Font Awesome 5 FREE';
    font-size: 1.5em;
    font-weight: 900;
    color: abs.$clr-primary;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.quote-left::before {
    content: '\f10d';
    @extend %quote;
}

.quote-right::after {
    content: '\f10e';
    @extend %quote;
}


.clr-primary {
    color: abs.$clr-primary;
}



.grayscale {
    filter: grayscale(1);
    @include abs.transition(filter);
    
    &:hover {
        filter: grayscale(0);
    }
}