@use './functions' as f;

$clr-primary: #ff7657;
$clr-secondary: #FFD966;
$body-bg: #121212;
$clr-text: #fff;
$clr-text-light: #787878;
$clr-light-black: #161616;
$clr-star: #fbaa33;
$gradient1: #E4607E;
$gradient2: #B25D95;
$gradient3: #765D93;
$gradient4: #44567B;
$gradient5: #2F4858;

//bp
$bp-phone: f.toRem(599);
$bp-tablet: f.toRem(720);
$bp-desktop: f.toRem(1000);

$max-width: f.toRem(1220);
$max-width-s: f.toRem(800);

$padding-sm: 3em;
$padding-mid: 4em;

// Fonts
$ff-bold: 'Poppins-Bold';
$ff-regular: 'Poppins-Regular';

// Preloader
$dot-width: f.toRem(100);
$dot-height: $dot-width;
$dot-bg: #fff;

// Chart
$chart-stroke-width: 5px;

$duration: 300ms;
$timing: ease-in-out;